<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Welkom to my Flights Application</title>
</head>
<body>
<h1> Mijn Lijstje met tickets</h1>

<img src="under-construction.png"/>

<table>
    <tr th:each= "t : ${flightTickets}">
        <td th:text= "${t.price}"></td>
        <td th:text= "${t.passenger.firstName}"></td>
        <td th:text= "${t.passenger.lastName}"></td>
        <td th:text= "${t.flight.flightNumber}"></td>
        <td th:text= "${t.flight.departure}"></td>
        <td th:text= "${t.flight.destination}"></td>
    </tr>
</table>

</body>
</html>